<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE beans [
        <!ELEMENT beans (bean+)>
        <!ELEMENT bean (property*)>
        <!ELEMENT property EMPTY>
        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean className CDATA #REQUIRED>
        <!ATTLIST property name CDATA #REQUIRED>
        <!ATTLIST property ref CDATA #REQUIRED>
        ]>
<beans>
    <bean id="ITransaction" className=""></bean>
</beans>